.ui-tabs-nav{
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) !important;
	background-image: -webkit-gradient(
	  linear, left bottom, left top, from(rgba(0, 0, 0,.85)),
	  to(rgba(0, 0, 0,.85))
	) !important;
}
.ui-tabs-panel, ui-widget-content, ui-corner-bottom{
	background-color: rgba(255, 255, 255, 1) !important;
	padding:5px !important;
	font-size: 9pt !important;
	line-height:20px !important;
}
.ui-tabs a{
	color:#000 !important;
	font-size: 9pt !important;
	padding:4px !important;
}
.ui-tabs-active a{
	color:#FFF !important;
	font-size: 9pt !important;
	background-color: rgba(8, 98, 144, 1) !important;
	border-color: rgba(8, 98, 144, 1) !important;
}

.outerEE {
	padding: 5px;	
}

.eeheader,.eefooter,.eecontent { position:absolute; right:0;left:0;}

.eeheader{
   height:30px; top:30px;

}
.eefooter{
  height:30px; bottom:0;
  background:#CCC;
}
.eecontent{
  top:60px;
  bottom:30px;
}

.eeheader {
  padding: 3px;	
}


.eeMain{
  width:100%;
  height:100%;
  overflow-y:hidden;
  overflow-x:hidden;
  padding-top:3px;
}

/*
.ui-tabs-anchor{
	font-size:8pt;
	padding:7px !important;
	color: #000 !important;
}
.ui-tabs .ui-widget .ui-widget-content .ui-corner-all"{
	border-radius: 0px !important;
}
.ui-tabs .ui-tabs-nav li {
	background-image: linear-gradient(to top, rgba(206, 163, 58, 1), rgba(206, 163, 58, 1)) !important;
	background-image: -webkit-gradient(
	  linear, left bottom, left top, from(rgba(206, 214, 170, 1)),
	  to(rgba(206, 214, 170, 1))
	) !important;
	border-color:#C8841D;
	border-bottom-color:#ECEFDE;
	border-radius: 5px 5px 0 0; 
}	
.ui-tabs .ui-tabs-nav li a{
	color:#603A14 !important;
}
#tabs li a{
	outline-color: transparent;
}​
.borderStyle .ui-tabs .ui-widget .ui-widget-content .ui-corner-all{
	background-color: rgba(236, 239, 222, 0.9) !important;


.ui-tabs-anchor {
	font-size: 20px; !important;
}
}*/

.plugin-eeslc .dijitSliderH div.dijitSliderImageHandleH {
border: 0;
width: 14px;
height: 14px;
background-image: none;
background-repeat: no-repeat;
border-radius: 100%;
border: 3px solid #fff;
box-shadow: 0 0 0 2px #59C3CD;
background: #59C3CD;
margin-top: -1px;
}

.plugin-eeslc .dijitSliderH div.dijitSliderProgressBarH , .plugin-eeslc .dijitSliderH div.dijitSliderLeftBumper{
border-color: #A2E3E6;
background-color: #59C3CD;
background-image: none;
}

.plugin-eeslc .dijitSliderIncrementIconH, .plugin-eeslc .dijitSliderDecrementIconH {
display: 0px;
}

.plugin-eeslc .dijitSliderDisabled div.dijitSliderImageHandleH {
box-shadow: 0 0 0 1px #d3d3d3;
background: #d3d3d3;
}

.plugin-eeslc .dijitSliderDisabled div.dijitSliderProgressBarH , .plugin-eeslc .dijitSliderDisabled div.dijitSliderLeftBumper{
border-color: #d3d3d3 !important;
background-color: #d3d3d3 !important;
}

.plugin-eeslc .dijitTabPaneWrapper {
border: none;
}

.plugin-eeslc .dijitTabContainerTop-dijitContentPane {
overflow: hidden;	
}

.plugin-eeslc .dijitRuleLabel {
margin-top: 8px;	
}

.plugin-eeslc .dijitRuleLabelH {
white-space: nowrap;	
}


.eeSliderHeader {
margin-bottom: 10px;
font-weight: bold;	
}

.eeSliderPad {
margin: 35px;
}


.d3Area {
	height: 500px;	
}

.bar--positive {
  fill: #33cc33;
}

.bar--current {
  fill: white;
}

.label {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
}

.bar--negative {
  fill: red;
}
.axis text {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.y text {
    font-family: sans-serif;
    font-size: 12px;
	font-weight: bold;
}

.d3Title {
	height: 18px;
	text-align: center;
	font: 18px sans-serif;
	font-weight: bold;
}

.d3Title sup { vertical-align: top; font-size: 0.6em; }

.eeLoss {color: red}
.eeGain {color: #33cc33}

.sliderWrap {
	height:70px;
	padding-left: 20px;
}

/* base CSS element */
.ee-tooltip {
position:absolute;
display:none;
z-index: 10;
padding: 10px;
border-radius: 5px;
max-height:400px; 
max-width:250px; 
left:0px; 
top:0px; 
background-color: #444444; 
border: 1px solid #cccccc;
color: #ffffff;
font-size: 13px;
font-weight: normal;
text-align:center;
}
.ee-tooltip span {
display:inline-block;
vertical-align:middle;
text-align:center;
}

.ee-tooltip:after, .ee-tooltip:before {
top: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.ee-tooltip:after {
border-color: rgba(68, 68, 68, 0);
border-top-color: #444;
border-width: 5px;
margin-left: -5px;
}
.ee-tooltip:before {
border-color: rgba(204, 204, 204, 0);
border-top-color: #ccc;
border-width: 6px;
margin-left: -6px;
}
