@media print {
    body{
    	font-family:Arial !important;
    }
    #plugin-print-sandbox{
    	display:flex !important; flex-direction:column !important;
    }
    #riskAndFloodLayerLegends{
    	margin-right:10mm; display:flex; flex-direction:column; flex-wrap:wrap; height:100mm; margin-top:5mm; 
    }
    .likeFloodPrintWrap{
    	margin-top:5mm;
    }
    #slcPrintTitle{
    	font-size:20pt; font-weight:bold; width:100%; text-align:center; margin-top:5mm;
    }
    .pr-leg-wrap{
        display:flex;
    }
    .pr-leg-box{
        height:20px; width:20px; margin-right:5px;  
    } 
    .pr-und-bld{
    	font-weight:bold; text-decoration:underline; margin-bottom:1mm;
    } 
    #legend-container-0 {
        display:none !important;
    }
    #plugin-print-sandbox #map-0 {
		position:relative !important; margin-bottom:0 !important;
	}
	#map-print-sandbox{
		height:4in !important; width:4in !important;
	}
}